*{
    overflow-x: hidden;
}

body{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    background:#564E58;
    margin:0;
}

.header{
    width:100%;
}
.intro{
    width:100%;
    margin-left: auto;
    margin-right: auto;
}

.owners{
    display:flex;
    flex-direction: column;
    width:100%;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.owner{
   display:flex;
   position:relative;
   margin-left: auto;
   margin-right: auto;
   margin-top: 1vw;
   margin-bottom: 1vw;
   /* background-color:#ede7dd; */
   background:linear-gradient(0deg, rgb(36, 35, 34) 0%, rgba(237,231,221,1) 100%),  
   url("../img/FAST.jpg");
   background-repeat: no-repeat;
   background-size:cover;
   background-blend-mode: multiply;
   -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width:89vw;
    height: 46vw;
    padding: 3vw;
    overflow:hidden;
}

.owner:hover{
    width:90vw;
   background:linear-gradient(0deg, rgb(216, 164, 137) 0%, rgba(237,231,221,1) 100%),  
   url("../img/FAST.jpg");
   background-repeat: no-repeat;
   background-size:cover;
}

.info{
    margin-top: auto;
    margin-right: auto;
}

h2{
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 8vw;
    color: #F2EFE9; 
    text-align: center;
}

h3{
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 6vw;
    color: #F2EFE9;
}
p{
    color: #F2EFE9; 
    font-size: 4.5vw;
}
a{
    text-decoration: none;
}
/* .mainHead{
    color: #;
} */

.gear{
    display:grid;
    grid-template-areas: 
    "a1 a2"
    "a3 a4";
    width:100%;
    /* padding: 3vw; */
    margin-left: auto;
    margin-right: auto;
}
.mics{
    grid-area:a1 ;
}
.mics>div{
    background:linear-gradient(0deg, rgb(36, 35, 34) 0%, rgba(237,231,221,1) 100%),  
   url("../img/FAST.jpg");
   background-repeat: no-repeat;
   background-size:cover;
   background-blend-mode: multiply;
   -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    
}
.amps{
    grid-area:a2 ;
}
.amps>div{
    background:linear-gradient(0deg, rgb(36, 35, 34) 0%, rgba(237,231,221,1) 100%),  
   url("../img/FAST.jpg");
   background-repeat: no-repeat;
   background-size:cover;
   background-blend-mode: multiply;
   -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    
}
.outboard{
    grid-area:a3 ;
}
.outboard>div{
    background:linear-gradient(0deg, rgb(36, 35, 34) 0%, rgba(237,231,221,1) 100%),  
   url("../img/FAST.jpg");
   background-repeat: no-repeat;
   background-size:cover;
   background-blend-mode: multiply;
   -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    
}
.drums{
    grid-area:a4 ;
}
.drums>div{
    background:linear-gradient(0deg, rgb(36, 35, 34) 0%, rgba(237,231,221,1) 100%),  
   url("../img/FAST.jpg");
   background-repeat: no-repeat;
   background-size:cover;
   background-blend-mode: multiply;
   -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    ;
}

.gi{
    display: flex;
    justify-content: center;
    height:46vw;
    width:46vw;
    margin:1vw;
}

.gi:hover{
    background:
   url("../img/FAST.jpg");
   background-repeat: no-repeat;
   background-size:cover;
   background-blend-mode: multiply;
   -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height:46.5vw;
    width:46.5vw;
    margin:0.5vw;
    overflow:hidden;
}
.placeBody{
    background-color:#f2efe9 ;
    height:30vh;
}

@media only screen and (max-height: 2559px) and (min-width:1270px){
    .gear, .owners, .intro, .imageSlider{
        width:50%; 
    }
    .gi{
        width:21vw;
        height:21vw;
    }
    .gi:hover{
        width:21.5vw;
        height:21.5vw;
    }
    .owner{
        width:40vw;
        height:21vw;
    }
    h2{
        font-size: 4vw;
    }
    h3{
        font-size: 3vw;
    }
    p{
        font-size: 2vw
    }
}